 body {
	 background-color: #071A2D;
	 color: white;
	 font-family: 'poppins' , sans-serif;
 }
 h1, h2 {
	 color: #FFD166;
	 font-family: 'orbitron', sans-serif;
 }
 a {
	 color: #FFD166;
	 text-decoration: none;
 }
	 
 a:hover {
	 opacity: 0.8;
 }
 
 img {
	 width: 400px;
	 height: 300px;
	 object-fit: contain;
	 display: block;
	 margin: 20px auto;
 }
 
 img:hover {
	 transform: scale(1.1);
 }
 
 p {
	 font-size: 2 0px;
	 font-weight: bold;
 }
 input[type="button"] {
	 background-color: #FFD166;
	 color: black;
	 cursor: pointer;
	 padding: 6px 12px;
	 font-weight: bold;
	 font-size: 15px;
	 border-color: black; 
	 border-style: solid;
	 margin-right: 8px;
	 border-radius: 3px;
 }
 
 input[type="button"]:hover {
	 opacity: 0.6;
 }
 footer {
	 font-size: 11px;
	 text-align: center;
 }